.recepie-form-page {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.recepie-form {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 3rem;
  border-radius: 3.5rem;
  background-color: var(--orange);
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.form-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form-description {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.time-input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recepie-intput-label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.submit-recepie-btn {
  margin-top: 1.3rem;
  background-color: var(--brown);
  color: white;
  height: 5rem;
  font-size: 3rem;
  font-weight: 1200rem;
  border: none;
  border-radius: 1rem;
  transition: 4ms;
}

.submit-recepie-btn:hover {
  color: var(--orange);
  cursor: pointer;
}
.submit-recepie-btn:active {
  transform: scale(0.99, 0.98);
}
